.container-bs{
    padding: 4rem 7rem 0;
    text-align: center;
    background: #F7F5E9;
    color: #292929;
    padding-bottom: 8rem;
}

.container-bs .heading{
    font-size: 10vw;
    font-weight: 500;
    margin: 0;
}

.container-bs .content{
    display: grid;
    /* gap: 2rem; */
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: 0.5fr 0.5fr; */
    /* grid-template-areas: 
        "main-image image1 image2"
        "main-image image3 image4"; */
}   
.container-bs .content img {
    max-width: 15rem;
	width: 100%;
	object-fit: cover;
}

/* .container-bs .love-btn {
	width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-color: #F4F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
} */


.container-bs .image1,
.container-bs .image2,
.container-bs .image3,
.container-bs .image4,
.container-bs .image5,
.container-bs .image6,
.container-bs .image7,
.container-bs .image8 {
    padding: 1rem;
    border: 0.5px solid #BDBDBD;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}   
.container-bs .image1 .love-btn,
.container-bs .image2 .love-btn,
.container-bs .image3 .love-btn,
.container-bs .image4 .love-btn,
.container-bs .image5 .love-btn,
.container-bs .image6 .love-btn,
.container-bs .image7 .love-btn,
.container-bs .image8 .love-btn{
    align-self: flex-end;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    background-color: #F4F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container-bs .love-btn img{
    max-width: 60%;
}

.container-bs .image1 .details,
.container-bs .image2 .details,
.container-bs .image3 .details,
.container-bs .image4 .details,
.container-bs .image5 .details,
.container-bs .image6 .details,
.container-bs .image7 .details,
.container-bs .image8 .details{
    align-self: flex-end;
    text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
}
.container-bs .details .item-name{
    font-size: 0.7rem;
}

.container-bs .item-price{
	font-weight: 600;
	transform: scaleY(1.1);
}

.container-bs .details .lower-section{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.container-bs .lower-section img {
	max-width: 3rem;
	max-height: 1.3rem;
	height: 100%;
	width: auto;
	object-fit: cover;
    border-radius: 100%;
    background-color: #F4F1F1;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media screen and (max-width: 800px) {
    .container-bs{
        padding: 2rem 5rem ;
    }
}
@media screen and (max-width: 768px) {
    .container-bs .content{
        grid-template-columns: repeat(2, 0.6fr);
    }
    .container-bs .content img {
		max-width: 60%;
		max-height: 14rem;
		height: auto;
		width: auto;
		object-fit: cover;
	}
}
@media screen and (max-width: 670px)
{
    .container-bs {
        padding: 4rem 2rem;
    }
    .container-bs .content img {
        max-width: 70%;
    }
    .container-bs .heading{
		font-size: 8vw;
		margin-bottom: 1rem;
	}
}
@media screen and (max-width: 480px){

    .container-bs .content{
        grid-template-columns: repeat(1, 0.8fr);
        width: 100%;
        justify-content: center;
    }
}