.container-cart {
	padding: 0 2rem;
	text-align: center;
	background: #f7f5e9;
	color: #292929;
	width: 45vw;
	float: right;
}

.container-cart .top-section {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.container-cart .top-section .left {
	display: flex;
	align-items: center;
}
.container-cart .cart-identifier {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container-cart .left .current{
	color: #a74107;
}
.container-cart .top-section .initial-progress {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #a74107;
	border: none;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
	color: white;
}
.container-cart .top-section .progress {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ffffff00;
	border: 1px solid #00000066;
	border-radius: 50%;
	width: 2rem;
	height: 2rem;
}
.container-cart .left .inactive {
	padding-top: 20px;
}
.container-cart .left .inactive .title-text {
 		color: #BDBDBD;
}
.container-cart .top-section .right {
	display: flex;
	align-items: center;
}
.container-cart .top-section .right  .clear{
	display: flex;
	align-items: center;
	cursor: pointer;
	justify-content: center;
	padding: 0.5rem 1.2rem 0.5rem 0rem;
	border-radius: 10px;
}
.container-cart .top-section .right  .clear:hover{
	background-color: #7af0ff;
	color: black;
	filter: invert(100%);
}
.container-cart .top-section .right img {
	margin: 0 1vw;
}
.container-cart .top-section .right .clear-cart,
.container-cart .top-section .right .title-text {
	font-weight: 500;
	font-size: 1.1vw;
}

.container-cart .top-section .right .exit:hover{
	filter: brightness(70%);
}
.container-cart .top-section .right .exit:active{
	filter: brightness(85%);
	transform: scale(1.2, 1.2);
}
.container-cart .main-section .item {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: 1px solid #00000033;
	padding-right: 9px;
	margin-top: 3rem;
}

.container-cart .main-section .item .item-detail {
	display: flex;
	align-items: center;
	width: 30vw;
}
.container-cart .main-section .item img {
	width: 9vw;
	height: 9vw;
	border-right: 1px solid #00000033;
	padding: 0.5rem 0 0 0.5rem;
	position: relative;
}
.container-cart .main-section .item .title {
	margin-left: 1rem;
	font-size: 01rem;
	font-weight: 300;
}
.container-cart .main-section .item .quantity {
	display: flex;
	align-items: center;
	border: 1px solid #00000033;
	padding:0;
	margin-right: 1rem;
}
.container-cart .main-section .item .quantity button {
	margin: 0 0.5rem;
	background-color: #00000000;
	color: #000;
	font-size: 2rem;
	font-weight: 200;
	padding: 0;
}
.container-cart .main-section .item .quantity .value {
	position: relative;
	top: 0.2rem;
}
.container-cart .main-section .item .price {
	font-size: 1.2rem;
	transform: scaleY(1.2);
	font-weight: 500;
}

.container-cart .total-price {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2.5rem;
	margin-right: 3rem;
}
.container-cart .total-price .total-amount {
	font-size: 2rem;
	transform: scaleY(1.2);
	font-weight: 500;
}
.container-cart .total-price .title {
	font-size: 1.5rem;
}
.container-cart .next-stage button {
	border-radius: 0;
	border: 1px solid #a74107;
	font-weight: 400;
	padding: 1rem;
	font-size: 1rem;
}
.container-cart .next-stage {
	display: flex;
	justify-content: space-between;
	margin: 3rem 0;
	font-size: 1.3rem;
}
.container-cart .return {
	background-color: #00000000;
	color: #a74107;
}
.container-cart .checkout {
	background-color: #a74107;
}

@media screen and (max-width: 480px) {
	.container-cart {
		width: 100vw;
	}
}
