.footer{
	padding: 4rem 5rem 0;
	text-align: center;
	background: #f7f5e9;
	color: #292929; 
}

.footer .content{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: left;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 2.5rem;
}
.footer .content .section1,
.footer .content .section2,
.footer .content .section3,
.footer .content .section4,
.footer .content .section5{
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}
.footer .content a{
    margin-top: 1.2rem;
    color: #000;
    font-weight: 300;
}
.footer .content a:hover{
    text-decoration: underline;
}

.footer .section5 p{
    margin: 1.2rem 0;
}
.footer .license{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-top: none;
    padding: 2rem 0;
}