.mainView{
    /* position: relative; */
    display: flex;
    align-items: center;
    /* height: 100vh; */
    background: linear-gradient();
}

.text{
    font-size: 18rem;
    z-index: 0;
    text-align: center;
}
.textU{
    font-size: 22rem;
}

.mainView img{
    width: 100%;
}
