.container-n-a {
	padding: 4rem 5rem 0;
	text-align: center;
	background: #f7f5e9;
	color: #292929;
}

.container-n-a .heading {
	font-size: 7rem;
	margin: 0;
}

.container-n-a .content {
	display: grid;
	grid-template-columns: 1fr 0.5fr 0.5fr;
	/* grid-template-rows: 1fr 1fr; */
	grid-template-areas:
		"main-image image1 image2"
		"main-image image3 image4";
}

.container-n-a .content img {
	width: 100%;
	object-fit: cover;
}
/* .container-n-a .content > div {
  box-sizing: border-box;
} */
.container-n-a .main-image,
.container-n-a .image1,
.container-n-a .image2,
.container-n-a .image3,
.container-n-a .image4 {
    padding: 1rem;
    border: 1px solid;
}   
.container-n-a .main-image {
	grid-area: main-image;
	border-right: 0px;
}

.container-n-a .image1 {
	grid-area: image1;
	border-right: 0px;
	border-bottom: 0px;
}
.container-n-a .image2 {
	grid-area: image2;
	border-bottom: 0px;
}
.container-n-a .image3 {
	grid-area: image3;
	border-right: 0px;
}
.container-n-a .image4 {
	grid-area: image4;
}
.container-n-a .love-btn {
	width: 1.5rem;
}
.container-n-a .details {
	text-align: start;
	height: 20%;
	bottom: 0;
}
