/* *{
  width: 100%;
  background-color: white;
} */
.modal {
	width: 100%;
}
.overlay {
	position: fixed; /* Ensures overlay covers entire viewport */
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1; /* Ensure overlay is above other content */
}
.modal-content {
	position: fixed;
	top: 0;
	right: 0;
	max-width: 45vw;
	width: 100%;
	height: 100%;
	z-index: 101;
	overflow: scroll;
}
.overlay-content {
	background-color: white; /* Customize content background */
	padding: 20px;
	border-radius: 5px;
}
@media screen and (max-width: 480px) {
	.modal-content {
		max-width: 100vw;
	}
}
button:hover {
	filter: opacity(0.5);
	/* transform: scale(1.1); */
	/* filter: ; */
}
button:active {
	transform: scale(1.1);
	filter: opacity(0.5);
}
.love-btn:hover {
	/* filter: opacity(0.5); */
	transform: scale(1.1);
}
.love-btn:active {
	transform: scale(1.3) rotate(10deg);
}
 .lower-section img:hover{
  	transform: scale(1.1);
}